.title {
  text-align: center;
  margin-top: 40px;
}
.add_post {
  background-color: #fff;
  text-align: center;
  width: 300px;
  margin: 0 auto;
}
.post_error {
  color: #ff00ff;
  text-align: center;
  margin: 10px;
}
.post_button {
  text-align: right;
}
.notes {
  color: #6e6e6e;
  text-align: left;
}
.postProgress {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
